.custom-dropdown {
  width: 100%;
  max-width: 250px;
}

.controls-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.new-recipe-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.new-recipe-button:hover {
  background-color: #0056b3;
}

.admin-recipes-container {
  display: flex;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

.left-section {
  margin-top: 20px;
  flex: 1;
  padding: 20px;
}

.right-section {
  flex: 2;
  padding: 20px;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-button {
  padding: 12px 24px;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  background: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 12px;
  list-style: none;
  padding: 10px 0;
  margin-top: 5px;
  width: 250px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 200px;
}

.dropdown-item {
  padding: 12px 20px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.dropdown-item:hover {
  background: #e9ecef;
}

.recipe-details {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-section {
  background: #a5d6a7;
  border-radius: 20px;
  padding: 20px;
  flex: 1 1 400px; 
  max-width: 400px; 
  min-height: 360px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recipe-section h3 {
  text-align: center;
  margin-bottom: 10px;
}

.bullet-list {
  text-align: left;
  padding-left: 20px;
}

.action-buttons {
  margin-top: 20px;
  text-align: center;
}

.action-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.action-buttons .delete {
  background: #dc3545;
}