.admin-exercises-container {
    display: flex;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
  }
  
  .left-section {
    margin-top: 20px;
    flex: 1;
    border-right: 1px solid black;
    padding: 20px;
  }
  
  .right-section {
    flex: 2;
    padding: 20px;
    margin-top: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .new-exercise-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .new-exercise-button:hover {
    background-color: #0056b3;
  }
  
  .dropdown-container {
    position: relative;
  }
  
  .dropdown-button {
    padding: 12px 24px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .action-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .action-buttons button.delete {
    background: #dc3545;
  }
  
  .error-text {
    color: red;
    text-align: center;
  }
  
  .centered-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    text-align: center;
    font-size: 1.2rem;
    color: black;
  }
  