.client-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.client-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; 
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
    gap: 20px;
}

.client-form {
    display: flex;
    flex-direction: column;
    row-gap: 15px; 
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

.client-input {
    width: 95%;
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 10px;
}

.client-textarea {
    width: 98%;
    height: 100px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px; 
}

.client-textarea-large {
    height: 150px;
}

.update-button,
.toggle-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block; 
    text-align: center;
    font-weight: bold; 
    border-radius: 20px; 
}

.update-button {
    background-color: #004D40;
    color: white;
    border: none;
    margin: auto; 
    transition: background-color 0.3s; 
}

.update-button:hover {
    background-color: #ffffff; 
    color: #004D40; 
    border: 2px solid #004D40; 
}

.toggle-button {
    background-color: #dc3545;
    color: white;
    border: none;
    width: 200px;  
    height: 45px; 
    margin: 20px auto 0; 
    margin-right: 0;
    border-radius: 20px; 
}

.form-group {
    margin-bottom: 20px; 
}
