.client-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.client-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; 
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
    gap: 20px;
}

.client-form {
    display: flex;
    flex-direction: column;
    row-gap: 15px; 
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

.client-input {
    width: 90%;
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 10px;
}

.client-textarea {
    width: 98%;
    height: 100px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px; 
}

.client-textarea-large {
    height: 150px;
}

.update-button,
.toggle-button, .create-diet-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block; 
    text-align: center;
    font-weight: bold; 
    border-radius: 20px; 
}

.update-button {
    background-color: #004D40;
    color: white;
    border: none;
    margin: auto; 
    transition: background-color 0.3s; 
}

.create-diet-button {
    background-color: #e88905;
    color: white;
    border: none;
    margin: auto;
    width: 150px;
    transition: background-color 0.3s;
}

.update-button:hover, .create-diet-button:hover {
    background-color: #ffffff; 
    color: #004D40; 
    border: 2px solid #004D40; 
}

.toggle-button {
    background-color: #dc3545;
    color: white;
    border: none;
    width: 200px;  
    height: 45px; 
    margin: 20px auto 0; 
    margin-right: 0;
    border-radius: 20px; 
}

.form-group {
    margin-bottom: 20px; 
}

.form-background {
    background-color: #A5D6A7;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

.success-message {
    color: green;
    background-color: #e8f5e9;
    border: 1px solid #4caf50;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.weight-history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .weight-history-table thead {
    background-color: #4CAF50;
    color: white;
  }
  
  .weight-history-table th, 
  .weight-history-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .weight-history-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .weight-history-table .no-data {
    text-align: center;
    font-style: italic;
    color: #888;
  }
  
  .weight-history-graph {
    width: 100%;
    max-width: 700px; 
    margin: 20px auto;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  }  
  
  .weight-update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#updated_weight {
    width: 20%;
    text-align: center;
}

.update-weight-btn {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.update-weight-btn:hover {
    background-color: #2673ef;
    color: #ffffff;
    border: 2px solid #004D40;
}

.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 32px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888;
    transition: 0.3s;
    border-radius: 32px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #888;
  }
  
  input:checked + .slider:before {
    transform: translateX(32px);
}  