.clients-page-container {
  padding: 20px;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.filter-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.client-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.client-table th {
  cursor: pointer;
  background-color: #f4f4f4;
  color: #333;
  padding: 10px;
}

.client-table th:hover {
  background-color: #ddd;
}

.client-table td {
  padding: 10px;
  text-align: center;
}

.client-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.client-table tr:hover {
  background-color: #f1f1f1;
}

.details-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.details-button:hover {
  background-color: #0056b3;
}
