@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  background-color: #f8f9fa;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.diet-page {
  padding: 20px;
  text-align: center;
}

.diet-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.diet-type-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.diet-type-selector label {
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.diet-type-selector select {
  width: 15%; 
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
}

.diet-container {
  background-color: #A5D6A7;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  margin: 20px auto;
  height: 350px;  
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #8BC34A;
}

.diet-container::-webkit-scrollbar {
  width: 0px;
}

.diet-content {
  font-size: 18px;
  color: #333;
  white-space: pre-wrap;
  text-align: left;
  word-wrap: break-word;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}