.edit-exercise-page {
  padding: 30px;
  background-color: #a5d6a7;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 700px;
  margin: 50px auto;
  font-family: 'Rubik', sans-serif;
}

.edit-exercise-page h1 {
  text-align: center;
  color: #333;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
}

.edit-exercise-page form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-exercise-page textarea,
.edit-exercise-page input[type="text"] {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  line-height: 1.4;
  resize: none;
  overflow-y: auto;
  display: block;
}

.edit-exercise-page input[type="text"] {
  height: 50px;
}

.edit-exercise-page textarea {
  height: 100px;
}

.edit-exercise-page textarea::placeholder,
.edit-exercise-page input[type="text"]::placeholder {
  text-align: left;
}

.edit-exercise-page textarea:focus,
.edit-exercise-page input[type="text"]:focus {
  border-color: #a5d6a7;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px rgba(76, 175, 80, 0.5);
}

.edit-exercise-page label {
  font-weight: 600;
  margin-bottom: -10px;
  color: #333;
  display: block;
  font-family: 'Rubik', sans-serif;
}

.edit-exercise-page button {
  background: #004d40;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  font-weight: 600;
  width: 30%;
  margin: 0 auto;
  display: block;
  transition: all 0.3s ease;
}

.edit-exercise-page button:hover {
  background: #dc6719;
}

.edit-exercise-page .success-message,
.edit-exercise-page .error-message {
  border-radius: 15px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.edit-exercise-page .success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.edit-exercise-page .error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.edit-exercise-page textarea:hover,
.edit-exercise-page input[type="text"]:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .edit-exercise-page {
    padding: 20px;
    max-width: 90%;
  }

  .edit-exercise-page h1 {
    font-size: 24px;
  }

  .edit-exercise-page button {
    font-size: 16px;
    padding: 12px;
  }
}