@import './Colors.css';

.footer {
  background-color: var(--footer-background-color);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
