body {
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #F0F8E7; 
}

.login-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #A5D6A7; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  margin-bottom: 20px;
  color: black;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 75%;
}

.login-form label {
  margin: 10px 0 5px;
  color: black;
  font-weight: bold;
  text-align: center; 
  display: block; 
  width: 100%; 
}

.login-form input {
  width: 100%;
  max-width: 75%;
  padding: 10px;
  margin-bottom: -10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  background-color: #d3dbde;
  box-sizing: border-box;
}

.login-form button {
  padding: 12px 24px;
  background-color: #004D40;
  width: 50%;
  max-width: 200px;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 0px;
}

.login-form button:hover {
  background-color: #00695c;
}

.error-message {
  color: red;
  margin-top: 10px;
}