@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import './Colors.css';

body {
  background-color: var(--main-background-color);
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--navbar-background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  box-sizing: border-box;
  z-index: 1000;
}

.nav-logo {
  height: 60px;
}

.nav-logo-img {
  max-width: 100%;
  max-height: 100%;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  transition: max-height 0.3s ease;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 20px;
}

.nav-link:hover,
.nav-link.active {
  background-color: var(--highlight-color);
}

.nav-icon {
  margin-right: 10px;
}

.logout-button {
  color: red;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.logout-button:hover {
  background-color: red;
  color: black;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-buttons {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    background-color: var(--navbar-background-color);
    position: absolute;
    top: 70px;
    left: 0;
  }

  .nav-buttons.show-menu {
    max-height: 600px; 
  }

  .nav-link {
    margin: 10px 0;
    font-size: 16px;
  }

  .nav-logo {
    height: 50px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #A5D6A7;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 350px;
  max-width: 90%;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.confirm-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #e04343;
}

.cancel-button {
  background-color: #dddddd;
  color: #333333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #c7c7c7;
}