@import url('./styles/Colors.css');

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-background-color);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}
